<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="co1-sm-10">
    <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :body, class: 'col1-sm-2 control-label' %>
    <div class="co1-sm-10">
    <%= f.text_area :body, class: 'form-control' %>
    </div>
  </div>
  
  <div class="actions form-group">
    <div class="co1-sm-offset-2 co1-sm-10">
    <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
