<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to post, class: 'btn btn-primary btn-xs' do %>
        <i class="glyphicon glyphicon-zoom-in" ></i> Show
        <% end %>
        </td>
        <td><%= link_to edit_post_path(post), class: 'btn btn-info btn-xs' do %>
        <i class="glyphicon glyphicon-edit"></i> Edit
        <% end %>
        </td>
        <td><%= link_to post, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs' do %>
        <i class="glyphicon glyphicon-remove"></i> Delete
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_post_path,  class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-plus" ></i> New Post
  <% end %>
