<p id="notice"><%= notice %></p>

  <h3>Title: <small> 
  <%= @post.title %>
  </small></h3>

  <h3>Body: <small>
  <%= @post.body %>
  </small></h3>
  
<h3>Comments</h3>
<div id="comments">
  <%= render :partial => @post.comments.reverse %>
</div>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
<p><%= f.label :body, "New Comment", class: 'control-label' %> <br />
	<%= f.text_area :body, class: 'form-control' %>
</p>
<p><%= f.submit "Add Comment", class:"btn btn-primary" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-info' %>
<%= link_to 'Back', posts_path, class: 'btn btn-info' %>
